mixin icon(id,name,mod)
	- mod = mod || '';
	- name = name || '';
	svg(class= name + ' ' + mod)
		use(xlink:href="assets/img/sprite.svg#" + id)
//- +icon('github_round')

mixin popup(name)
	.popup(data-popup=name)
		.popup__wrapper
			.popup__content
				block

			button.popup__buttons(data-btn-close, tabindex=1)
				.popup__button
					svg.popup__button-icon(width='40' height='40' viewbox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg')
						rect(width='1.87285' height='54.6952' transform='matrix(-0.707107 0.707107 0.707107 0.707107 1.32422 0)' fill='white')
						rect(x='38.6758' width='1.87285' height='54.6952' transform='rotate(45 38.6758 0)' fill='white')
					p.popup__button-text esc

mixin input(name, label, isRequired)
	- className = isRequired ? 'required' : ''
	.form-group(class=className)
		.form-group__wrap
			input.form-group__control(id=name, name=name, type="text", placeholder=label)
			label.form-group__label(for=name)=label

mixin textarea(name, label, isRequired)
	- className = isRequired ? 'required' : ''
	.form-group(class=className)
		.form-group__wrap
			textarea.form-group__control.form-group__control--textarea(id=name, name=name, type="text", placeholder=label, rows="1")
			label.form-group__label(for=name)=label

mixin inputFile(name, label)
	.form-group-file(data-file-input)
		button.form-group-file__btn(data-btn-add, type="button")
			svg.form-group-file__btn-icon(width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
				path(d='M21.44 11.0499L12.25 20.2399C11.1242 21.3658 9.59723 21.9983 8.00505 21.9983C6.41286 21.9983 4.88589 21.3658 3.76005 20.2399C2.6342 19.1141 2.00171 17.5871 2.00171 15.9949C2.00171 14.4027 2.6342 12.8758 3.76005 11.7499L12.95 2.55992C13.7006 1.80936 14.7186 1.3877 15.78 1.3877C16.8415 1.3877 17.8595 1.80936 18.61 2.55992C19.3606 3.31048 19.7823 4.32846 19.7823 5.38992C19.7823 6.45138 19.3606 7.46936 18.61 8.21992L9.41005 17.4099C9.03476 17.7852 8.52577 17.996 7.99505 17.996C7.46432 17.996 6.95533 17.7852 6.58005 17.4099C6.20476 17.0346 5.99393 16.5256 5.99393 15.9949C5.99393 15.4642 6.20476 14.9552 6.58005 14.5799L15.07 6.09992' stroke='white' stroke-linecap='round' stroke-linejoin='round')
			span=label
		div.form-group-file__filelist(data-filelist)
			span.form-group-file__filename(data-filename) Kaspersky_Brand_Guidelines.pdf
			button.form-group-file__btn(data-btn-clear, type="button")
				svg(width='10' height='10' viewbox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg')
					path(d='M9 1L1 9M1 1l8 8' stroke='#2D67FC' stroke-linecap='square' stroke-linejoin='round')
		input.form-group-file__control(type="file", name=name, data-fileinput)
